<!--{ label: Orders }-->
<!--{ pos: 30 }-->
<!--{ model_new_hide: true }-->
<!--{ async: true }-->

{% set m = THIS.get('model') %}
{% set hlp = APP.instance('Sellvana_Sales_Admin_Controller_Orders') %}
{{ THIS.view('core/backbonegrid').set('grid', hlp.customerOrdersGridConfig(m)) | raw }}