<!--{ label: Wishlist }-->
<!--{ pos: 70 }-->
<!--{ model_new_hide: true }-->
<!--{ async: true }-->

{% set m = THIS.get('model') %}
{% set hlp = APP.instance('Sellvana_Wishlist_Admin_Controller') %}
{{ THIS.view('core/backbonegrid').set('grid', hlp.customerWishlistGridConfig(m)) | raw }}