/*
 * Sellvana Admin Base
 * Copyright 2014 Fulleron Inc.
 * License info pending
 */

/* ==========================================================================
BASE
========================================================================== */

html {
  width:100%;
  height:100%;
  }
body {
  position:relative;
  min-height:100%;
  }
a {
  color:#5d76c7;
  }
a:active,
a:hover,
a:focus {
  color:#4c68c0;
  text-decoration:none;
  }
select {
  border:1px solid #ccc;
  }
label {
  margin-bottom:2px;
  font-weight:400;
  }
input[type="radio"],
input[type="checkbox"] {
  width:15px;
  height:15px;
  }
h1, h2, h3 {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:500;
  }
h1 { font-size:22px; }
h2 { font-size:24.5px; }
h3 { font-size:21px; }
h4 { font-size:17.5px; }
h5 { font-size:14px; }
h6 { font-size:10.5px; }


/* ==========================================================================
LAYOUT
========================================================================== */

.container {
  max-width:100% !important;
  }


/* Header */
.f-admin-header .navbar {
  margin:0;
  padding:4px 10px 5px;
  background-color:#fff !important;
  border:none;
  min-height:45px;
  height:45px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
  box-shadow:0 1px 0 rgba(0,0,0,0.15);
  z-index:99;
  }
.f-admin-header .navbar .navbar-brand {
  width:110px;
  height:25px;
  margin-top:6px;
  padding:0;
  background:url(../images/sellvana-logo.png) no-repeat 50% 50%;
  background-size:contain;
  text-indent:-999em;
  }
.f-admin-header .navbar .navbar-brand .logo-xs {
  display:inline-block;
  }
.f-admin-header .navbar .navbar-brand [class^='logo'] {
  max-height:25px;
  }
.f-admin-header .navbar .navbar-brand img {
  margin-top:-2px;
  }
.f-admin-header .navbar .toggle-nav {
  margin-right:12px;
  padding:4px;
  color:#707a85;
  font-size:22px;
  text-shadow:none;
  vertical-align:middle;
  background:none !important;
  box-shadow:none;
  }
.f-admin-header .navbar .toggle-nav.active {
  color:#3a4148;
  }
.f-admin-header .navbar .toggle-nav:hover {
  color:#464d54;
  }
.f-admin-header .navbar .navbar-form {
  margin:3px 10px 0 0;
  padding:0;
  position:relative;
  border:none;
  }
.f-admin-header .navbar .navbar-form button {
  position:absolute;
  color:#656978;
  right:10px;
  top:10px;
  text-decoration:none;
  padding:0;
  margin:0;
  z-index:1031;
  text-shadow:none;
  }
.f-admin-header .navbar .navbar-form button:hover {
  color:#656978;
  }
.f-admin-header .navbar .navbar-form input {
  border:none;
  padding-left:7px;
  padding-right:25px;
  color:#777;
  height:30px;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity:0.4;
  -webkit-transition:all 200ms ease;
  -moz-transition:all 200ms ease;
  -o-transition:all 200ms ease;
  transition:all 200ms ease;
  background:#f0f0f0;
  }
.f-admin-header .navbar .navbar-form input:-moz-placeholder,
.f-admin-header .navbar .navbar-form input:-ms-input-placeholder,
.f-admin-header .navbar .navbar-form input::-webkit-input-placeholder {
  color:#888;
  }
.f-admin-header .navbar .navbar-form input:hover,
.f-admin-header .navbar .navbar-form input:focus {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  }
.f-admin-header .navbar .navbar-form input:hover:-moz-placeholder,
.f-admin-header .navbar .navbar-form input:hover:-ms-input-placeholder,
.f-admin-header .navbar .navbar-form input:hover::-webkit-input-placeholder {
  color:#444;
  }
.f-admin-header .navbar .navbar-form input:focus {
  border-color:#c2100c;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  }
.f-admin-header .navbar .navbar-form input:focus:-moz-placeholder,
.f-admin-header .navbar .navbar-form input:focus:-ms-input-placeholder,
.f-admin-header .navbar .navbar-form input:focus::-webkit-input-placeholder {
  color:#444;
  }
.f-admin-header .navbar .navbar-form:hover input {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  }
.f-admin-header .navbar .user-menu .dropdown-toggle { padding:0; }
.f-admin-header .navbar .user-menu .dropdown-toggle img {
  border-radius:3px;
  -webkit-border-radius:3px;
  margin-right:5px;
  vertical-align:top;
  position:relative;
  top:1px;
  width:28px;
  height:28px;
  }
.f-admin-header .navbar .user-menu .dropdown-toggle .user-name { display:none; }
.f-admin-header .navbar .widget .dropdown-menu { padding:0; }
/*.f-admin-header .navbar .widget .dropdown-menu > li { width:285px; }*/
.f-admin-header .navbar .widget .dropdown-menu > li > a {
  padding:0;
  white-space:normal;
  }
.f-admin-header .navbar .widget .dropdown-menu > li > a:hover [class*="icon"] {
  color:white !important;
  }
.f-admin-header .navbar .widget .dropdown-menu > li > a:hover small {
  color:white !important;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity:0.5;
  }
.f-admin-header .navbar .widget .dropdown-menu > li .widget-body {
  padding:6px 15px;
  overflow:hidden;
  *zoom:1;
  }
.f-admin-header .navbar .widget .dropdown-menu > li .widget-body .icon { width:25px; }
/* .f-admin-header .navbar .widget .dropdown-menu > li .widget-body .text { width:230px; } */
.f-admin-header .navbar .widget .dropdown-menu > li .widget-body .text small { white-space:nowrap; }
.f-admin-header .navbar .widget .dropdown-menu > li.widget-footer a {
  padding:10px 0;
  background:#f4f4f4;
  text-align:center;
  }
.f-admin-header .navbar .widget .dropdown-menu > li.widget-footer a:hover { background:#6983d6; }
.f-admin-header .navbar .widget .dropdown-menu p { margin:0; }
.f-admin-header .navbar .widget .dropdown-menu .divider { margin:0; }
.f-admin-header .navbar > .nav {
  float:right;
  margin:0;
  margin-top:3px;
  }
.f-admin-header .navbar > .nav > li {
  float:left;
  margin:0 4px;
  }
.f-admin-header .navbar > .nav > li .label {
  padding:0;
  background:white;
  color:#6983d6;
  }
.f-admin-header .navbar > .nav > li > a {
  background:none !important;
  padding:0 7px;
  color:#656978;
  line-height:30px;
  text-shadow:none;
  }
.f-admin-header .navbar.navbar-fixed-top { position:fixed; }
.f-admin-header .navbar .dropdown-menu {
  right:0;
  left:auto;
  }


/* Admin Nav */
.f-admin-nav-bg {
  position:absolute;
  float:left;
  box-shadow:inset -2px 0 2px #383e44;
  width:200px;
  background:#383f45;
  display:block;
  top:0;
  bottom:0;
  z-index:9;
  }
.f-admin-nav {
  width:200px;
  position:absolute;
  left:0;
  top:45px;
  z-index:10;
  }
.f-admin-nav.main-nav-fixed {
  top:40px;
  left:0;
  z-index:900;
  }
.f-admin-nav.main-nav-fixed.affix { position:fixed; top:0; }
.f-admin-nav.main-nav-fixed.affix-top { top:40px !important; }
.f-admin-nav.main-nav-fixed.affix-bottom { position:fixed; }
.main-nav-opened .f-admin-nav-bg { width:200px; }
.main-nav-opened .f-admin-nav { width:200px; overflow:visible; }
.main-nav-opened .f-admin-nav .navigation > .nav > li i.angle-down,
.main-nav-opened .f-admin-nav .navigation > .nav > li span {
  display:inline !important;
  }
.main-nav-closed .f-admin-nav-bg { width:35px; }
.main-nav-closed .f-admin-nav .navigation > .nav > li > .nav { display:none !important; }
.main-nav-closed .f-admin-nav .navigation > .nav > li i.angle-down,
.main-nav-closed .f-admin-nav .navigation > .nav > li span {
  display:none;
  }
.f-admin-nav .navigation { width:100%; }
.f-admin-nav .navigation .nav { margin-bottom:0; }
.f-admin-nav .navigation > .nav > li {
  position:relative;
  display:block;
  margin:0;
  color:#c2c7cb;
  }
.f-admin-nav .navigation > .nav > li > a {
  border-bottom:1px solid #343b42;
  display:block;
  height:35px;
  background:#383f45;
  padding:0;
  font-size:12px;
  overflow:hidden;
  *zoom:1;
  overflow:visible !important;
  line-height:35px;
  }
.f-admin-nav .navigation > .nav > li.active a {
  border-bottom:none;
  background:#748ddd;
  }
.f-admin-nav .navigation > .nav > li.active > a [class^="icon-"],
.f-admin-nav .navigation > .nav > li.active > a [class*=" icon-"] {
  color:#fff;
  }
.f-admin-nav .navigation > .nav > li > a [class^="icon-"],
.f-admin-nav .navigation > .nav > li > a [class*=" icon-"] {
  float:left;
  width:35px;
  height:35px;
  color:#858c93;
  font-size:16px;
  line-height:36px;
  text-align:center;
  }
.f-admin-nav .navigation > .nav > li a [class*='icon-angle-'],
.f-admin-nav .navigation > .nav > li a [class*='icon-angle-'] {
  width:auto !important;
  margin-right:10px;
  }
.f-admin-nav .navigation > .nav > li a [class*='icon-angle-'] {
  float:right;
  line-height:36px;
  }
.f-admin-nav .navigation > .nav > li > a span {
  position:relative;
  top:0;
  height:34px;
  color:#c2c2c2;
  font-weight:500;
  text-transform:uppercase;
  }
.f-admin-nav .navigation > .nav > li:hover > a span,
.f-admin-nav .navigation > .nav > li:focus > a span,
.f-admin-nav .navigation > .nav > li.active > a span {
  color:#fff !important;
  }
.f-admin-nav .navigation > .nav > li .nav {
  display:none;
  background:#464d54;
  }
.f-admin-nav .navigation > .nav > li .nav > li > a {
  padding:6px 8px 6px 35px;
  color:#c2c2c2;
  background:none;
  font-size:13px;
  }
.f-admin-nav .navigation > .nav > li .nav > li > a:hover {
  color:#fff;
  background:#40474e;
  }
.f-admin-nav .navigation > .nav > li .nav > li.active > a {
  color:#fff;
  }
.f-admin-nav .navigation > .nav > li .nav > li > a .icon-angle-down {
  float:right;
  margin-top:1px;
  margin-right:7px;
  }
.f-admin-nav .navigation > .nav > li .nav > li > a [class^="icon-"],
.f-admin-nav .navigation > .nav > li .nav > li > a [class*=" icon-"] {
  display:inline-block;
  text-align:center;
  width:25px;
  }
.f-admin-nav .navigation > .nav > li .nav > li > a [class^="icon-"].angle-down,
.f-admin-nav .navigation > .nav > li .nav > li > a [class*=" icon-"].angle-down {
  width:auto !important;
  }
.f-admin-nav .navigation > .nav > li .nav > li > a:hover [class^="icon-"],
.f-admin-nav .navigation > .nav > li .nav > li > a:hover [class*=" icon-"],
.f-admin-nav .navigation > .nav > li .nav > li > a:focus [class^="icon-"],
.f-admin-nav .navigation > .nav > li .nav > li > a:focus [class*=" icon-"] {
  color:#fff;
  }
.f-admin-nav .navigation > .nav > li .nav > li.active > a [class^="icon-"],
.f-admin-nav .navigation > .nav > li .nav > li.active > a [class*=" icon-"] {
  color:#6983d6;
  }
.f-admin-nav .navigation > .nav > li > .nav > li {
  margin:0;
  font-weight:400;
  }
.f-admin-nav .navigation > .nav > li > .nav > li > .nav > li > a { padding-left:50px; }
.f-admin-nav .navigation > .nav > li > .nav > li a [class*="icon-angle"] {
  margin-top:-9px;
  margin-right:2px;
  }
.f-admin-nav .navigation > .nav > li > .nav > li a [class*="icon-angle"]:before {
  font-size:15px;
  content:"\f107";
  }
.f-admin-nav .navigation .search {
  display:none;
  }
.f-admin-nav .navigation .search form {
  margin:10px 0;
  }
.f-admin-nav .navigation .search form .search-wrapper {
  border:1px solid #e7e7e7;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  }
.f-admin-nav .navigation .search form .search-wrapper button {
  position:absolute;
  right:7px;
  top:7px;
  padding:0;
  color:#3c3c3c;
  text-shadow:none;
  text-decoration:none;
  -webkit-transition:color 100ms ease;
  -moz-transition:color 100ms ease;
  -o-transition:color 100ms ease;
  transition:color 100ms ease;
  }
.f-admin-nav .navigation .search form .search-wrapper button:hover {
  color:#2f2f2f;
  }
.f-admin-nav .navigation .search form .search-wrapper input {
  padding:5px 25px 5px 7px;
  color:#222;
  background:#f9f9f9;
  border:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  -webkit-transition:border 100ms ease;
  -moz-transition:border 100ms ease;
  -o-transition:border 100ms ease;
  transition:border 100ms ease;
  }
.f-admin-nav .navigation .search form .search-wrapper input:-moz-placeholder,
.f-admin-nav .navigation .search form .search-wrapper input:-ms-input-placeholder,
.f-admin-nav .navigation .search form .search-wrapper input::-webkit-input-placeholder {
  color:#2f2f2f;
  }
.f-admin-nav .navigation .search form .search-wrapper input:hover,
.f-admin-nav .navigation .search form .search-wrapper input:focus {
  border:none;
  }
.f-admin-nav .navigation .search form .search-wrapper input:focus:-moz-placeholder,
.f-admin-nav .navigation .search form .search-wrapper input:focus:-ms-input-placeholder,
.f-admin-nav .navigation .search form .search-wrapper input:focus::-webkit-input-placeholder {
  color:#3c3c3c;
  }
.f-admin-nav .navigation .search form .search-wrapper:hover input {
  background:#fcfcfc;
  }


/* Page Header */
.f-admin-main-view .f-admin-page-header  {
  margin-top:0;
  }
.f-admin-main-view .f-admin-page-header.f-has-breadcrumbs {
  margin-bottom:0;
  }
.f-admin-main-view .f-admin-page-header + .box {
  margin-top:-21px;
  }
.f-admin-page-header  {
  background:#f6f6f6;
  border-bottom:1px solid #e4e4e4;
  padding:8px 15px;
  }
.f-admin-page-header .f-page-title {
  margin:5px 0 4px;
  font-weight:bold;
  font-size:18px;
  vertical-align:middle;
  }
.f-admin-page-header .f-page-title [class^='icon-'] {
  display:none;
  margin-right:5px;
  color:#999 !important;
  }
.f-admin-page-header .entity-glimpse {
  clear:both;
  margin-bottom:3px;
  color:#777;
  font-size:.95em;
  }
.f-admin-page-header > .btn-group {
  margin-left:5px;
  }
.f-admin-page-header > .btn-group > .btn {
  border:1px solid rgba(0,0,0,.110);
  }
.f-admin-page-header > .btn-group > .btn:last-child:not(:first-child),
.f-admin-page-header > .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  }
.f-admin-page-header > .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  }
.f-admin-page-header > .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
  }
.f-admin-page-header .btn-link {
  padding-top:0;
  padding-bottom:0;
  font-weight:500;
  text-transform:none;
  }
.f-admin-page-header .btn {
  margin-top:0;
  padding:6px 15px;
  font-size:13px;
  font-weight:500;
  line-height:1.2;
  }
.f-admin-page-header .btn:only-child + .btn:only-child {
  margin-left:5px;
  }
.f-admin-page-header .btn [class^='icon'] {
  margin-right:5px;
  }
.f-admin-page-header .btn .caret {
  margin-left:5px;
  }
.f-admin-page-header > .btn-group > .dropdown-menu {
  padding:10px;
  }


/* Main */
.f-admin-container,
.f-admin-main-view,
.f-admin-main-view > .form,
.f-admin-main-view > .tabbable {
  min-height:100%;
  }
.f-admin-main-view {
  padding-right:0;
  padding-left:0;
  margin:0;
  margin-left:200px;
  min-width:276px;
  }
.f-admin-main-view.f-sidebar-view .f-admin-main {
  margin:-20px 0 0 0;
  padding:0;
  }
.f-admin-main-view.f-sidebar-view.f-tree-layout .f-admin-main {
  margin-top:0;
  }

.main-nav-opened .f-admin-main-view { margin-left:200px; }
.main-nav-closed .f-admin-main-view { margin-left:35px; }
.f-admin-main-view .f-admin-page-header + .nav { margin-top:-20px;  }
.f-admin-main-view .f-admin-page-header + .nav > li > a { padding:7px 12px; }



/* ==========================================================================
PER PAGE
========================================================================== */

/* Login */
body.login {
  width:100%;
  height:100%;
  position:relative;
  background:#f4f4f4;
  }
body.login .login-container > .login-logo {
  margin-top:2em;
  height:25px;
  margin-bottom:.7em;
  background:url(../images/sellvana-logo.png) no-repeat 50% 50%;
  background-size:contain;
  text-indent:-999em;
  }
body.login .login-container > .container {
  background-color:white;
  position:relative;
  padding:40px 40px 30px;
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.0);
  -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
  }
body.login .login-container input.form-control {
  height:40px;
  padding-top:8px;
  padding-bottom:8px;
  font-size:15px;
  }


/* Dashboard */
.f-page-dashboard { padding:0 20px; }
.f-page-dashboard .box {
  margin:0;
  border:none;
  }
.f-page-dashboard .box-collapsed .icon-chevron-down:before {
  content:"\f077" !important;
  }
.f-page-dashboard .box .box-header {
  margin-bottom:3px;
  }
.f-page-dashboard .box .box-header .title {
  font-size:17px;
  }
.f-page-dashboard .box .box-content {
  border:1px solid #ddd;
  }
.f-page-dashboard .ui-sortable > [class*='col-'] {
  margin-bottom:1.3em;
  }
.f-page-dashboard .ui-sortable-helper {
  background:#fafafa;
  box-shadow:none;
  -webkit-box-shadow:none;
  }
.dashboard-filter-range {
  width:300px;
  }
#stats-chart1,
#stats-chart2,
#stats-chart3,
#stats-chart7,
#stats-chart8 {
  height:200px;
  }


/* Catalog > Navigation */
#categories-form-container .nav-tabs > li > a {
  margin-right:0;
  border-radius:0;
  }
#categories-form-container .nav-tabs  > li > a,
#categories-form-container .nav-tabs  > li.active > a,
#categories-form-container .nav-tabs  > li.active,
#categories-form-container .nav-tabs  > li.active > a:hover,
#categories-form-container .nav-tabs  > li.active > a:focus {
  border-top:none;
  }
#categories-form-container .nav-tabs > li:first-child > a {
  border-left:none;
  }


/* Orders */
.invoice .invoice-header {
  border-bottom:1px solid #ddd;
  padding-bottom:20px;
  margin-bottom:40px;
  overflow:hidden;
  *zoom:1;
  }
.invoice .invoice-header .invoice-title {
  float:left;
  font-size:30px;
  }
.invoice .invoice-header .invoice-number {
  float:right;
  color:#999;
  font-size:30px;
  }
.invoice .seller,
.invoice .buyer {
  overflow:hidden;
  *zoom:1;
  }
.invoice .seller .icon-globe,
.invoice .buyer .icon-globe {
  float:left;
  font-size:20px;
  color:#999999;
  }
.invoice .seller address,
.invoice .buyer address {
  float:left;
  margin-left:20px;
  font-size:16px;
  }
.invoice table { margin-top:20px; }
.invoice .subtotal { font-size:30px; }
.invoice .comment { margin-top:40px; }

.pricing-tables .pricing-table {
  border:1px solid white;
  margin-bottom:20px;
  position:relative;
  -webkit-transition:opacity 100ms ease;
  -moz-transition:opacity 100ms ease;
  -o-transition:opacity 100ms ease;
  transition:opacity 100ms ease;
  }
.pricing-tables .pricing-table.not-important {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity:0.5;
  }
.pricing-tables .pricing-table.not-important:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  }
.pricing-tables .pricing-table .header {
  text-align:center;
  padding:20px 0 50px 0;
  font-size:20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color:#ddd;
  }
.pricing-tables .pricing-table .price {
  width:30%;
  height:60px;
  line-height:60px;
  position:absolute;
  top:60px;
  z-index:900;
  left:50%;
  display:block;
  font-size:25px;
  text-align:center;
  color:white;
  margin-left:-15%;
  }
.pricing-tables .pricing-table .price span {
  vertical-align:middle;
  }
.pricing-tables .pricing-table .features {
  padding-top:50px;
  text-align:center;
  margin-bottom:0;
  background-color:white;
  }
.pricing-tables .pricing-table .features > li {
  padding:5px 0;
  border-bottom:1px solid #eaeaea;
  }
.pricing-tables .pricing-table .footer {
  text-align:center;
  background-color:#ddd;
  padding:20px 0;
  }
#orders #list {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity:0.5;
  -webkit-transition:opacity 0.2s linear;
  -moz-transition:opacity 0.2s linear;
  -o-transition:opacity 0.2s linear;
  transition:opacity 0.2s linear; }
#orders #list hr {
  margin:10px 0;
  }
#orders #list hr:last-child {
  display:none;
  }
#orders #list .price {
  margin:0;
  margin-bottom:10px;
  }
#orders #list:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  }
#orders #detail .pager {
  margin:0;
  }
#orders #detail .form-actions {
  margin-bottom:0;
  }
#orders #detail .only-checkbox {
  width:10px;
  }
#orders #detail .only-checkbox input[type="checkbox"] {
  margin:0;
  }

/* Module */
.f-admin-main > form > .list-group {
  margin-top:-21px;
  }
.f-admin-main > form > .list-group > .list-group-item:first-child {
  border-radius:0;
  }



/* ==========================================================================
MODULE
========================================================================== */

/*------------------*\
BOOTSTRAP
*-------------------*/

/* Icon Reset to use Fontawesome icons */
[class^="icon-"],
[class*=" icon-"] {
  display:inline;
  width:auto;
  height:auto;
  line-height:normal;
  vertical-align:baseline;
  background-image:none;
  background-position:0% 0%;
  background-repeat:repeat;
  margin-top:0;
  }
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image:none;
  }


/* Tables */
th,
td {
  vertical-align:top;
  }
.table {
  width:auto;
  }
.table thead > tr > th a {
  display:block;
  white-space:nowrap;
  text-overflow: ellipsis;
  }
.table thead tr:first-child th,
.table thead tr:first-child td {
  vertical-align:top;
  }
.table caption {
  padding:5px;
  font-weight:bold;
  font-size:.85em;
  text-align:left;
  text-transform:uppercase;
  }
.table th,
.table td,
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th {
  font-size:.9em;
  }


/* Dropdowns */
.dropdown-menu {
  margin-top:-1px;
  min-width:130px;
  box-shadow:0 3px 5px rgba(0,0,0,0.125);
  -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.125);
  }
.header-notifications .dropdown-menu {
    min-width:400px;
}
.dropdown-menu > li > a {
  padding:4px 13px;
  color:#444;
  }
.dropdown-menu .dropdown-header {
  font-weight:bold;
  font-size:.85em;
  text-transform:uppercase;
  }
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  filter:none;
  }
a.dropdown-toggle { outline:none; }
.open .btn-default.dropdown-toggle { color:#444; }


/* Navs */
.nav .caret {
  border-width:5px 4px 0 4px;
  border-top-color:#90939c;
  border-bottom-color:#90939c;
  font-size:16px;
  }
.nav a:hover .caret {
  border-top-color:#47484c;
  border-bottom-color:#47484c;
  }
.nav-tabs-centered {
  text-align:center;
  }
.nav-tabs-centered > li {
  float:none;
  display:inline-block;
  }
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom:0;
  }
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display:none;
  padding:10px 15px 15px;
  }
.tab-content > .tab-pane > h2 {
  margin-top:5px;
  margin-bottom:12px;
  font-size:20px;
  }
.tab-content > .active,
.pill-content > .active {
  display:block;
  }
.tabs-below > .nav-tabs {
  border-top:1px solid #ddd;
  }
.tabs-below > .nav-tabs > li {
  margin-top:-1px;
  margin-bottom:0;
  }
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius:0 0 4px 4px;
  -moz-border-radius:0 0 4px 4px;
  border-radius:0 0 4px 4px;
  }
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color:#ddd;
  border-bottom-color:transparent;
  }
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color:transparent #ddd #ddd #ddd;
  }
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float:none;
  }
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width:74px;
  margin-right:0;
  }
.tabs-left > .nav-tabs {
  background:#f8f8f8;
  border-right:1px solid #ddd;
  }
.tabs-left > .nav-tabs > li > a {
  margin-right:-1px;
  -webkit-border-radius:4px 0 0 4px;
  -moz-border-radius:4px 0 0 4px;
  border-radius:4px 0 0 4px;
  }
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color:#eee #ddd #eee #eee;
  }
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color:#ddd transparent #ddd #ddd;
  *border-right-color:#fff;
  }
.tabs-right > .nav-tabs {
  float:right;
  margin-left:19px;
  border-left:1px solid #ddd;
  }
.tabs-right > .nav-tabs > li > a {
  margin-left:-1px;
  -webkit-border-radius:0 4px 4px 0;
  -moz-border-radius:0 4px 4px 0;
  border-radius:0 4px 4px 0;
  }
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color:#eee #eee #eee #ddd;
  }
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color:#ddd #ddd #ddd transparent;
  *border-left-color:#fff;
  }



/* List */
.list-hover li:hover {
  background-color:#f9f9f9;
  }
.list-striped li:nth-child(odd) {
  background-color:#f9f9f9;
  }


/* Forms */
.form-horizontal label[class^='col-'],
.form-horizontal label[class*=' col-'] {
  padding-right:0;
  }
label.control-label.required:after {
  content:"*";
  padding-left:3px;
  }
label.error {
  display:block;
  margin-top:5px;
  font-weight:bold;
  font-size:13px;
  }
.form-striped .form-group {
  margin-left:0;
  margin-right:0;
  padding:15px 0;
  border-bottom:1px solid #ddd;
  margin-bottom:0;
  }
.form-striped .form-group:nth-child(even) {
  background-color:#f4f4f4;
  }
.form-striped .form-group:last-child {
  border-bottom-color:transparent;
  }
.form-striped .form-actions {
  margin-top:0;
  padding:20px 15px;
  }
.form-actions {
  background-color:#f4f4f4;
  padding:20px;
  border-top:1px solid #e5e5e5;
  margin-top:20px;
  }
.form-actions.form-actions-padding {
  padding:20px;
  }


/* Buttons */
.btn {
  border-radius:3px;
  border:none;
  padding:8px 15px;
  font-size:13px;
  font-weight:500;
  }
.btn-xs {
  padding:5px 7px;
  font-size:11px;
  }
.btn-sm {
  padding:6px 12px;
  font-size:12px;
  }
.btn-lg {
  padding:13px 18px;
  font-size:16px;
  }
.btn-default {
  border:none;
  }
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  border:none;
  }
.btn-info {
  border:none;
  }
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  border:none;
  }
.btn-link {
  background:none;
  padding:0;
  }
a.btn-link {
  text-transform:none;
  }
.btn-danger,
.btn-success,
.btn-warning {
  border:none;
  }
.btn-group.open .dropdown-toggle,
.btn-group.open .dropdown-toggle.btn-link
.btn-group.open .dropdown-toggle.btn-link {
  box-shadow:none;
  -webkit-box-shadow:none;
  }
.input-group-btn.dropdown {
  border-right:none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  }
.input-group-addon .dropdown-toggle,
.input-group-btn .dropdown-toggle {
  border-right:none;
  }
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity:.35;
  filter:alpha(opacity=35);
  }
.btn [class^='icon'] { font-family:'FontAwesome'; }
.btn .glyphicon { margin-right:.5em; }


/* Breadcrumbs */
.breadcrumb {
  padding:10px 15px;
  line-height:10px;
  font-size:.9em;
  }
.breadcrumb > li + li:before {
  display:none;
  }
.breadcrumb .separator {
  padding:0 3px;
  }


/* Pagination */
.f-grid-pagination,
.pagination {
  font-size:13px;
  }
.pagination > li > a {
  border-radius:3px;
  line-height:1.3em;
  }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color:#f2f2f2;
  border-color:#ddd;
  color:#222;
  }
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-right:none;
  }
.pagination-sm > li > a,
.pagination-sm > li > span {
  border:none;
  padding:6px 8px;
  }


/* Accordion */
.accordion .panel {
  border-color:#ddd;
  box-shadow:none;
  }
.accordion .panel-heading .accordion-toggle {
  display:block;
  margin:-10px -15px;
  padding:10px 15px;
  }


/* Labels */
.label-important { background-color:#347bd6; }
.label-important[href] { background-color:#f01611; }
.label-warning { background-color:#f8a326; }
.label-warning[href] { background-color:#e48a07; }
.label-success { background-color:#49bf67; }
.label-success[href] { background-color:#379e51; }
.label-info { background-color:#9564e2; }
.label-info[href] { background-color:#7839da; }
.label-inverse { background-color:#3c3c3c; }
.label-inverse[href] { background-color:#232323; }


/* Badges */
.badge-important { background-color:#347bd6; }
.badge-important[href] { background-color:#f01611; }
.badge-warning { background-color:#f8a326; }
.badge-warning[href] { background-color:#e48a07; }
.badge-success { background-color:#49bf67; }
.badge-success[href] { background-color:#379e51; }
.badge-info { background-color:#9564e2; }
.badge-info[href] { background-color:#7839da; }
.badge-inverse { background-color:#3c3c3c; }
.badge-inverse[href] { background-color:#232323; }


/* Alerts */
.alert {
  border:none;
  padding:10px 13px;
  font-size:.95em;
  }
.alert h4 {
  font-size:1.05em;
  margin-bottom:4px;
  }
.alert-info {
  color:#555;
  border-color:#eee;
  background:#f5f5f5;
  }
.alert-dismissable .close {
  right:0;
  }
.f-admin-main-view > .alert {
  margin-top:-20px;
  border-radius:0;
  }
.f-admin-main-view.f-sidebar-view > .alert {
  margin-top:0;
  margin-bottom:0;
  }


/* Progress Bars */
.progress {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  background-image:none;
  filter:none;
  }
.progress.progress-small {
  height:10px;
  line-height:10px; }
.progress.progress-small .progress-bar {
  font-size:10px;
  padding-top:0;
  }
.progress.progress-mini {
  height:5px;
  line-height:5px;
  }
.progress.progress-mini .progress-bar {
  font-size:5px;
  padding-top:0;
  }
.progress .progress-bar {
  background-image:none;
  background-color:#00acec;
  padding-top:2px;
  }
.progress.progress-danger .progress-bar,
.progress.progress .progress-bar-danger {
  background-image:none;
  background-color:#6983d6;
  }
.progress.progress-success .progress-bar,
.progress.progress .progress-bar-success {
  background-image:none;
  background-color:#49bf67;
  }
.progress.progress-warning .progress-bar,
.progress.progress .progress-bar-warning {
  background-image:none;
  background-color:#f8a326;
  }
.progress.progress-info .progress-bar,
.progress.progress .progress-bar-info {
  background-image:none;
  background-color:#9564e2;
  }
.progress-pwstrength {
  margin-bottom:0;
  }


/* Modal */
.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  }
.modal-content {
  border-radius:7px;
  box-shadow:0 3px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, 0.25);
  }
.modal-content .modal-header {
  border-radius:4px 4px 0 0;
  padding:10px 15px;
  }
.modal-content .modal-header .modal-title {
  font-size:16px;
  }
.modal-content .modal-header .close {


  margin-top:-5px;
  font-size:25px;
  }
.modal-content .modal-header .close,
.modal-content .modal-header .close:active,
.modal-content .modal-header .close:focus,
.modal-content .modal-header .close:hover {
  text-shadow:none;
  }
.modal-content .modal-footer {
  margin-top:0;
  padding:10px 15px;
  border-radius:0 0 4px 4px;
  }
.modal-backdrop.in {
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity:0.8;
  }


/* Responsive */
.responsive-table {
  position:relative;
  /*overflow:hidden;*/
  }
.responsive-table .scrollable-area {
  width:100%;
  overflow:auto;
  overflow-y:hidden;
  }
.responsive-table table td {
  position:relative;
  white-space:pre-line;
  word-wrap:break-word;
  overflow:hidden;
  }


/*------------------*\
FULLERON
*-------------------*/

/* Grids */
.f-admin-main-view > .f-admin-page-header + .f-admin-main > .f-grid-wrapper { margin-top:-20px; }
.f-grid-wrapper {
  overflow:hidden;
  *zoom:1;
  }
.f-grid-wrapper .f-grid-toolbar {
  border:1px solid #eee;
  border-width:1px 0;
  margin:-1px 0 0 0;
  padding:6px 9px;
  }
.f-grid-wrapper .f-grid-top {
  padding-bottom:2px;
  }
.f-grid-wrapper .f-grid-length {
  margin:13px 10px 5px 10px;
  float:left;
  }
.f-grid-wrapper .f-grid-filter label { display:none; }
.f-grid-wrapper .f-grid-filter .form-control {
  display:inline-block;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  }
.f-filter-btns .input-group.range .input-group-addon {
  /* Calendar icon */
  display: inline-block;
  background: none;
  border: none;
  color: #999;
  padding: 6px 5px;
  margin-left: -28px;
  }
.f-grid-wrapper .f-grid-info {
  padding:0;
  margin:4px 10px 10px 10px;
  }
.f-grid-wrapper .f-grid-paginate { margin-right:10px; }
.f-grid-wrapper .f-grid-paginate .pagination {  margin:0; }
.f-grid-wrapper .filter_column input[type="text"] {
  display:block;
  width:100%;
  min-height:30px;
  }
.f-grid-wrapper th.th-sorting-asc,
.f-grid-wrapper th.th-sorting-desc {
  padding-right:20px;
  }
.f-grid-wrapper th.sortable > a {
  padding-right:20px;
  }
.f-grid-wrapper th.th-sorting-asc > a:after {
  margin-right:-14px;
  font:normal 14px/25px FontAwesome;
  text-decoration:inherit;
  -webkit-font-smoothing:antialiased;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  color:#444;
  opacity:0.5;
  content:"\f0de";
  float:right;
  }
.f-grid-wrapper th.th-sorting-desc > a:after {
  margin-right:-14px;
  font:normal 14px/15px FontAwesome;
  text-decoration:inherit;
  -webkit-font-smoothing:antialiased;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  color:#444;
  opacity:0.5;
  content:"\f0dd";
  float:right;
  }
.f-grid-bottom + .scrollable-area { margin-top:-1px; }
.tab-pane .f-grid-bottom .btn { font-size:12px; padding:5px 10px; }
.f-grid-bottom .dd-nestable { margin-right:15px; }
.f-grid-bottom .btn { padding:7px 15px; }
.f-grid-toolbar > [class*='col-'] {
  padding-right:0;
  padding-left:0;
  }
.f-grid-toolbar .f-col-filters-selection {
  border-right:1px solid #eee;
  margin-right:8px;
  padding-right:10px;
  }
.f-grid-toolbar > .f-col-filters-selection + [class^='col-'] {
  width:auto;
  float:none;
  }
.f-filter-btns .filter-span { margin-right:20px; }
.f-filter-btns .filter-box {
  text-align:left;
  padding:15px;
  width:450px;
  }
.f-filter-btns .filter-box div.range { width:100%; }
.f-filter-btns .filter-box div.not_range {
  width:100%;
  display:none;
  }
.f-filter-btns .f-grid-filter {
  float:left;
  margin-right:2px;
  margin-bottom:4px;
  }
.f-filter-btns .f-grid-filter .input-group-btn > .dropdown-toggle {
  border-right:none !important;
  }
.f-grid-toolbar .btn {
  height:31px;
  /*padding:5px 10px;*/
  font-weight:500;
  }
.f-grid-toolbar .dropdown .btn.update {
  padding:8px 10px;
  }
.f-grid-toolbar .f-filter-btns > .dropdown > .dropdown-toggle,
.f-grid-toolbar .f-filter-btns .dropdown.f-grid-filter-val > .dropdown-toggle,
.f-grid-toolbar .select2-container .select2-choice {
  background:none;
  padding:1px 10px;
  line-height:30px;
  /* From here styled for .select2-choice override */
  font-size:12px;
  font-weight:500;
  height:31px;
  border-radius:3px;
  box-shadow:none;
  border:none;
  }
.f-grid-toolbar .f-filter-btns .dropdown .dropdown-toggle:hover,
.f-grid-toolbar .f-filter-btns .dropdown .dropdown-toggle:focus,
.f-grid-toolbar .f-filter-btns .dropdown.open .dropdown-toggle,
.f-grid-toolbar .select2-container .select2-choice:hover,
.f-grid-toolbar .select2-container .select2-choice:focus {
  box-shadow:none;
  border:1px solid #ddd;
  border-bottom-color:#ccc;
  padding:0 9px;
  background:#f8f8f8;
  background:-moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f2f2f2));
  background:-webkit-linear-gradient(top, #f8f8f8 0%,#f2f2f2 100%);
  background:-o-linear-gradient(top, #f8f8f8 0%,#f2f2f2 100%);
  background:-ms-linear-gradient(top, #f8f8f8 0%,#f2f2f2 100%);
  background:linear-gradient(to bottom, #f8f8f8 0%,#f2f2f2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f2f2f2',GradientType=0 );
  font-size:12px;
  text-transform:none;
  }
.f-grid-toolbar .f-filter-btns > .dropdown.open > .dropdown-toggle:focus,
.f-grid-toolbar .f-filter-btns > .dropdown > .dropdown-toggle:active,
.f-grid-toolbar .select2-container .select2-choice:active {
  background:#eee;
  box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, 0.05);
  }
.f-grid-toolbar .f-filter-btns .dropdown.f-grid-filter-val > .dropdown-toggle {
  background:#eaedf6;
  padding-left:28px;
  color:#444;
  font-weight:bold;
  }
.f-grid-toolbar .f-filter-btns .dropdown.f-grid-filter-val > .dropdown-toggle:hover,
.f-grid-toolbar .f-filter-btns .dropdown.open.f-grid-filter-val > .dropdown-toggle { padding-left:27px; }
.f-grid-toolbar .f-filter-btns .dropdown.f-grid-filter-val .select2-search-choice-close {
  display:inline-block;
  margin-top:-1px;
  border-radius:15px;
  width:15px;
  height:15px;
  background:#bbb !important;
  color:#fff;
  font:12px 'FontAwesome';
  text-align:center;
  line-height:16px;
  }
.f-grid-toolbar .f-filter-btns .dropdown.f-grid-filter-val .select2-search-choice-close:before {
  content:"\f00d";
  }
.f-grid-toolbar .filter-text-main {
  color:#999999;
  text-transform:none;
  }
.f-grid-toolbar .filter-text-main .caret {
  border-top-color: #999999;
  }
.f-grid-toolbar .filter-text-sub {
  border-right:none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  }
.f-grid-pagination {
  position:relative;
  bottom:10px;
  display:inline;
  margin-right:15px;
  }
.f-grid-filter div.select2-container {
  font-weight:bold;
  color:#444444;
  padding:0px;
  margin:0px;
  }
.f-grid-filter div.select2-container span.select2-chosen {
  margin-right:10px;
  }
.f-grid-filter .select2-container .select2-choice abbr {
  left:7px;
  top:8px;
  z-index:300;
  }
.f-grid-filter abbr {
  left:7px;
  top:9px;
  z-index:300;
  margin-right:0;
  display:none;
  cursor:pointer;
  }
.f-grid-filter-val abbr {
  display:inline;
  }
.f-grid-filter abbr:hover {
  background-position:right -11px;
  }
.f-grid-quick-search {
  display:inline;
  width:150px;
  height:31px;
  margin-right:5px;
  }
.f-grid-page-no {
    display: inline;
    width: 40px;
    text-align: center;
}
.pagesize {
    margin-right: 5px;
}
.f-filter-btns .f-grid-filter-val .dropdown-toggle .caret {
  border-top-color:#444444;
  }
.f-grid-filter .select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right:10px;
  margin-left:10px;
  }
.f-grid-display-type { float:left; }
.f-grid-wrapper .table-actions-btns-group { white-space:nowrap; }

.f-grid-wrapper .table-actions-btns-group .btn { margin-right:5px; }
.f-grid-wrapper .table-actions-btns-group .btn-link:hover { text-decoration:none; }
.f-grid-wrapper .table-actions-btns-group .btn-link i { color:#ddd; font-size:20px; }

.f-grid-wrapper tr:hover .table-actions-btns-group .btn-link i { color:#aaa; font-size:20px; }
.f-grid-wrapper tr:hover .table-actions-btns-group .btn-link:hover i { color: #888; }

.f-grid-wrapper tr:hover .table-actions-btns-group .btn-link i.icon-pencil { color: #88F; }
.f-grid-wrapper tr:hover .table-actions-btns-group .btn-link:hover i.icon-pencil { color: #00F; }
.f-grid-wrapper tr:hover .table-actions-btns-group .btn-delete i.icon-trash { color: #F88; }
.f-grid-wrapper tr:hover .table-actions-btns-group .btn-delete:hover i.icon-trash { color: #F00; }

.dataTable thead tr th:first-of-type select { width:70px; }


/* Form Translation */
.has-multilang + div .btn.multilang {
  margin-top:-10px !important;
  margin-bottom:13px;
  }
.has-multilang + div .btn.multilang .icon-globe { color:#999; }
.has-multilang + div .btn.multilang .icon-globe:before { font-size:14px; }
.has-multilang + div .btn-info.multilang .icon-globe { color:#fff; }


/* Box */
.box {
  margin:20px 0;
  border:1px solid #e5e5e5;
  position:relative;
  }
.box.box-collapsed .box-header .actions .box-collapse i:before {
  content:"\f078";
  }
.box.box-collapsed .box-content { display:none; }
.box .box-header {
  overflow:hidden;
  *zoom:1;
  }
.box .box-header .title {
  float:left;
  color:#555;
  font-size:15px;
  font-weight:500;
  }
.box .box-header .title [class^='icon'] {
  display:none;
  }
.box .box-header .actions {
  margin-top:-3px;
  float:right;
  }
.box .box-header .actions .dropdown-toggle {
  position:relative;
  top:5px;
  }
.box .box-header .actions .btn-link {
  padding:4px;
  color:#c4c4c4;
  font-size:13px;
  text-decoration:none;
  text-shadow:none;
  }
.box .box-header .actions .btn-link:hover {
  color:#777;
  }
.box .box-header.box-header-small {
  background:#f5f5f5;
  padding:7px 12px 5px;
  }
.box .box-header.box-header-small .actions { margin-top:-1px; }
.box .box-content {
  padding:10px;
  background:#fff;
  display:block;
  }
.box-content.box-no-padding .table-striped th:first-child,
.box-content.box-no-padding .table-striped td:first-child {
  border-left:none;
  }
.box-content.box-no-padding .table-striped th:last-child,
.box-content.box-no-padding .table-striped td:last-child {
  border-right:none;
  }


/* Statistic Box */
.box-statistic {
  position:relative;
  border-radius:3px;
  margin-bottom:5px;
  background-color:#f8f8f8 !important;
  padding:5px 10px;
  border:none !important;
  }
.box-statistic .title {
  margin:0;
  color:#2f2f2f;
  line-height:28px;
  }
.box-statistic small {
  text-transform:uppercase; }
.box-statistic [class*="icon-"] {
  font-size:24px;
  top:13px;
  }
.box-statistic [class*="icon-"].align-left {
  position:absolute;
  left:10px;
  }
.box-statistic [class*="icon-"].align-right {
  position:absolute;
  right:10px;
  color:#ddd;
  }
.box-statistic:hover [class*="icon-"].align-right {
  right:15px;
  -webkit-transition:right 0.1s linear;
  -moz-transition:right 0.1s linear;
  -o-transition:right 0.1s linear;
  transition:right 0.1s linear;
  }
.box-statistic:hover [class*="icon-"].align-left {
  left:15px;
  -webkit-transition:left 0.1s linear;
  -moz-transition:left 0.1s linear;
  -o-transition:left 0.1s linear;
  transition:left 0.1s linear;
  }


/* Slim Scrollbar */
.slimScrollBar {
  -webkit-border-radius:0 !important;
  border-radius:0 !important;
  }


/* Chat */
ul#adminUserList li { cursor: pointer; }
.chat .box-collapsed .box-header .actions .box-collapse i:before {
  content:"\f077" !important;
  }
.chat .box-header.box-header-small {
  border-radius:4px 4px 0 0;
  padding:7px 10px;
  background:#383f45;
  }
.chat .box-header.box-header-small .title {
  color:#fff;
  font-size:14px;
  font-weight:400;
  }
.chat .box-header.box-header-small .btn-link {
  color:#fff;
  opacity:.65;
  padding:1px 4px;
  }
.chat .box-header.box-header-small .btn-link:hover,
.chat .box-header.box-header-small .btn-link:focus {
  color:#fff;
  opacity:1;
  }
.chat .box-content {
  height:auto;
  padding:0;
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  -ms-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
  border:1px solid #bbb;
  border-width:0 1px;
 }
.chat.box-collapsed .box-content {
  display:block;
  height:0;
  margin-bottom:-1px;
  }
.chat.chat-fixed {
  width:300px;
  position:fixed;
  z-index:999;
  bottom:0;
  right:20px;
  }
.chat.chat-fixed .box {
  border-radius:4px 4px 0 0;
  margin-bottom:0;
  box-shadow:0 5px 15px rgba(0,0,0,.2);
  }
.chat.chat-fixed .box-header .actions .box-collapse i:before {
  content:"\f078";
  }
.chat.chat-fixed form.new-message {
  border-top:1px solid #ddd;
  }
.chat.chat-fixed form.new-message textarea {
  border:none;
  width:236px;
  height:33px;
  padding:4px 6px;
  line-height:1.35em !important;
  }
.chat.chat-fixed form.new-message button {
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  height:33px;
  width:33px;
  padding:8px;
  font-size:15px;
  line-height:1em;
  }
.chat ul {
  margin-bottom:0;
  }
.chat ul > li {
  border-bottom:1px solid #e2e2e2;
  padding:10px;
  position:relative;
  overflow:hidden;
  *zoom:1;
  }
.chat ul > li .avatar {
  position:absolute;
  margin-right:10px;
  top:10px;
  left:10px;
  width:23px;
  height:23px;
  }
.chat ul > li .name-and-time {
  margin-left:33px;
  overflow:hidden;
  *zoom:1;
  }
.chat ul > li .body {
  margin-left:33px;
  }
.chat ul > li .time {
  font-size:12px;
  }
.chat ul > li:last-child {
  border-bottom:none;
  }
.chat form {
  margin-bottom:0;
  width:100%;
  position:relative;
  overflow:hidden;
  *zoom:1;
  }
.chat form input[type="text"] {
  border-left:0;
  border-bottom:0;
  padding-left:12px;
  padding-top:12px;
  padding-bottom:12px;
  height:45px;
  line-height:45px;
  }
.chat form input {
  margin-bottom:0;
  padding-right:40px;
  }
.chat form button {
  position:absolute;
  top:0;
  right:0;
  height:45px;
  }
/*.online {
  color: #49bf67;
  }
.offline {
  color: #c3c3c3;
  }


/* jQuery Splitter */
.f-sidebar-view .left_panel .tree-header {
  display:block;
  border-bottom:1px solid #eee;
  padding:7px 15px;
  color:#777;
  font-size:14px;
  font-weight:500;
  text-transform:uppercase;
  }
.spliter_panel .left_panel {
  background:#f9f9f9;
  }
.spliter_panel .right_panel {
  background:#fff;
  }


/* Tree */
.f-tree-layout .js-expand-all,
.f-tree-layout .js-collapse-all {
  padding:5px;
  }
.f-tree-layout .spliter_panel .vspliter {
  width:1px;
  color:#d9d9d9;
  background:#d9d9d9;
  z-index:9;
  }
.f-tree-layout .jstree {
  border-top:1px solid #eee;
  }
.jstree {
  padding:13px;
  }
.jstree.jstree-focused {
  background:none !important;
  }
.jstree li {
  padding:2px 0 !important;
  position:relative;
  }
.jstree a,
.jstree .jstree-hovered,
.jstree .jstree-clicked {
  border:none;
  padding:3px 5px 2px;
  }
.jstree .jstree-clicked {
  border-color:#b5b7c0 !important;
  border-radius:4px;
  background:#b5b7c0 !important;
  color:#fff;
  }
.jstree .jstree-hovered {
  border-color:#eee !important;
  border-radius:4px;
  background:#eee !important;
  color:#444;
  }
.jstree .jstree-hovered.jstree-clicked {
  border-color:#b5b7c0 !important;
  border-radius:4px;
  background:#b5b7c0 !important;
  color:#fff;
  }
label[for="categories-tree-lock"],
label[for="nav-tree-lock"] {
  margin-left:3px;
  font-size:16px;
  color:#d40000;
  }
label[for="categories-tree-lock"].icon-unlock,
label[for="nav-tree-lock"].icon-unlock {
  color:#38a31f;
  }
.jstree li a {
  height:auto;
  color:#444;
  font-size:14px;
  line-height:18px;
  }
.jstree li a ins.jstree-icon {
  margin:1px 5px 0 0;
  background:none;
  }
.jstree li a ins.jstree-icon:before,
.jstree li a > .jstree-checkbox:before {
  margin:3px 2px 0 0;
  color:#b5b7bf;
  }
.jstree .jstree-clicked .jstree-icon:before {
  color:#fff;
  opacity:.6;
  }
.jstree .jstree-clicked.jstree-hovered .jstree-icon:before {
  color:#fff;
  }
.jstree .jstree-open a ins.jstree-icon:before {
  content:"\f115";
  }
.jstree .jstree-open {
  padding-bottom:0 !important;
  }
.jstree .jstree-closed a ins.jstree-icon:before {
  content:"\f114";
  }
.jstree li.jstree-checked > a > .jstree-checkbox,
.jstree li.jstree-unchecked > a > .jstree-checkbox,
.jstree li.jstree-checked > a.jstree-hovered > .jstree-checkbox,
.jstree li.jstree-unchecked > a.jstree-hovered > .jstree-checkbox,
body #vakata-dragged.jstree-default .jstree-ok,
body #vakata-dragged.jstree-default .jstree-invalid {
  display:inline-block;
  background:none !important;
  vertical-align:middle;
  }
.jstree li a ins.jstree-icon:before,
.jstree li a > .jstree-checkbox:before,
body #vakata-dragged.jstree-default .jstree-ok:before,
body #vakata-dragged.jstree-default .jstree-invalid:before {
  font-family:'FontAwesome';
  font-size:16px;
  }
.jstree li.jstree-checked > a > .jstree-checkbox,
.jstree li.jstree-unchecked > a > .jstree-checkbox,
.jstree li.jstree-checked > a.jstree-hovered > .jstree-checkbox,
.jstree li.jstree-unchecked > a.jstree-hovered > .jstree-checkbox {
  margin-top:-3px;
  margin-right:3px;
  }
.jstree .jstree-unchecked > a > .jstree-checkbox:before {
  content:"\f096";
  font-size:17px;
  }
.jstree .jstree-checked > a > .jstree-checkbox:before {
  color:#38a31f;
  content:"\f14a";
  }
.tab-pane > .f-section > .jstree {
  padding:0;
  }
#vakata-dragged.jstree-default .jstree-ok:before {
  color:#38a31f;
  content:"\f00c";
  }
#vakata-dragged.jstree-default .jstree-invalid:before {
  color:#d40000;
  content:"\f00d";
  }



/* JS Sortable */
.js-sortable-container { list-style-type:none; padding:0; }
.row > .js-sortable-container { margin:0 15px; }
.js-sortable-handle { cursor:move; }


/* Drag and Drop */
.dd {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  list-style:none;
  }
.dd-list {
  position:relative;
  top:auto;
  margin-top:-2px;
  padding:0;
  list-style:none;
  text-align:left;
  max-height: 300px;
  overflow: auto;
  min-width: 200px;
  }
.dd-list-axis-x {
    background: none;
}
.dd-list .dd-list { padding-left:30px; }
.open .dd-list {
  display:block;
  position:absolute;
  }
.dd-collapsed .dd-list {
  display:none;
  }
.dd-handle {
  display:block;
  border:none;
  margin:5px 0;
  color:#777;
  font-weight:normal;
  text-decoration:none;
  }
.dd-handle:hover {
  color:#6983d6;
  cursor:move;
  }
.dd-item,
.dd-empty,
.dd-placeholder {
  position:relative;
  display:block;
  vertical-align: top;
  margin:0;
  padding:0;
  font-size:13px;
  line-height:16px;
  border:1px solid #eee;
  border-bottom-width:0;
  }
.dd-list-axis-x .dd-item {
    display: block;
    float: left;
    width: 140px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;
    background: white;
}
.dd-list-axis-x .dd3-content label {
    width: 80px;
    height: 15px;
    overflow: hidden;
}
.dd-item:last-of-type {
  border-bottom-width:1px;
  }
.dd-item > button {
  display:block;
  position:relative;
  cursor:pointer;
  float:left;
  width:25px;
  margin:5px 0;
  padding:0;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
  border:0;
  background:transparent;
  line-height:1;
  padding-top:7px;
  text-align:center;
  font-weight:bold;
  }
.dd-item > button:before {
  content:'+';
  display:block;
  position:absolute;
  width:100%;
  text-align:center;
  text-indent:0;
  }
.dd-item > button[data-action="collapse"]:before {
  content:'-';
  }
.dd-placeholder {
  background:#f7f7f7;
  border:1px dashed #999 !important;
  }
.dd-dragel {
  position:absolute;
  background:#fff;
  box-shadow:0 3px 4px rgba(255,255,255,0.8);
  pointer-events:none;
  background:#f6f6f6;
  border:1px solid #ddd;
  z-index:9999;
  }
.dd-dragel > .dd-item .dd-handle {
  margin-top:0;
  }
.dd3-handle {
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  margin:0;
  width:16px;
  height:34px;
  white-space:nowrap;
  overflow:hidden;
  line-height:22px;
  background:#f4f4f4;
  padding:5px;
  }
.dd3-content {
  display:block;
  border:none;
  border-radius:0;
  padding:5px 10px 5px 27px;
  color:#444;
  font-weight:bold;
  text-decoration:none;
  }


/* Growl */
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  background:#222;
  text-shadow:none;
  color:white;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
  -ms-border-radius:0 !important;
  -o-border-radius:0 !important;
  border-radius:0 !important;
  }
.jGrowl-notification.ui-state-highlight {
  background:#222;
  text-shadow:none;
  color:white;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  -webkit-border-radius:0 !important;
  -moz-border-radius:0 !important;
  -ms-border-radius:0 !important;
  -o-border-radius:0 !important;
  border-radius:0 !important;
  }


/* Select2 */
.select2-results {
  font-size:13px;
  }
.select2-results .select2-highlighted {
  background-color:#6983d6;
  }
.select2-container.form-control .select2-choice .select2-arrow b {
  margin-top:2px;
  }
.select2-container.form-control.input-lg .select2-choice .select2-arrow b {
  margin-top:7px;
  }
.select2-container.form-control.input-sm .select2-choice .select2-arrow b {
  margin-top:0;
  }
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-container-multi.select2-container-active .select2-choices,
.select2-container .select2-choice,
.select2-drop.select2-drop-above.select2-drop-active,
.select2-container-active .select2-choice:focus,
.select2-container-active .select2-choices:focus,
.select2-dropdown-open.select2-drop-above .select2-choice:focus,
.select2-dropdown-open.select2-drop-above .select2-choices:focus,
.select2-container-multi.select2-container-active .select2-choices:focus,
.select2-container .select2-choice:focus {
  border:none;
  }
.select2-container a:focus {
  outline:none;
  }
.select2-search input {
  min-height:0;
  background:#fff;
  }
.select2-container {
  float:left;
  border-radius:3px;
  margin:0 5px 0 0;
  padding:0;
  height:auto;
  background:none;
  }
.select2-container-active {
  border:1px solid #bbb;
  }
.select2-container .select2-choice {
  height:29px;
  -webkit-border-radius:3px;
  border-radius:3px;
  box-shadow:none;
  padding-top:2px;
  }
.select2-container .select2-choice .select2-arrow:before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
  content: "";
  }
.select2-container.select2-dropdown-open .select2-choice .select2-arrow:before {
  background-position:-28px 2px;
  border-top: 0 dotted;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid black;
  }
.select2-container.select2-dropdown-open {
  overflow:hidden;
  }
.form-control.select2-container {
  height:auto;
  padding:0;
  }
.form-control.select2-container .select2-choices {
  border:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  }
.select2-drop-active {
  border:1px solid #ccc;
  padding-top:4px;
  }
.select2-container-multi .select2-choices .select2-search-field input {
  margin:0;
  }
.select2-container-multi .select2-choices {
  border-color:#ccc;
  }
.select2-container-multi .select2-choices .select2-search-choice {
  margin-top:4px;
  border-radius:3px;
  border-color:#ccc;
  color:#555;
  font-size:12px;
  }

/* Cke Chrome */
.cke_chrome {
  border-color:#ccc !important;
  box-shadow:none !important;
  -moz-box-shadow:none !important;
  -webkit-box-shadow:none !important;
  }
.cke_top,
.cke_bottom { background:#f1f1f1 !important; }
.cke_top,
.cke_bottom,
.cke_toolgroup,
.cke_combo_button {
  border-color:#ccc !important;
  }


/* NProgress */
#nprogress .bar { background:#4ba8f7; }
#nprogress .peg { box-shadow:0 0 10px #4ba8f7, 0 0 5px #4ba8f7; }
#nprogress .spinner-icon { border-top-color:#4ba8f7; border-left-color:#4ba8f7; }


/* Date Picker */
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  color:white;
  background:#6983d6;
  border-color:transparent;
  }
.daterangepicker .ranges li {
  color:#222; }
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background:#6983d6;
  }
.datepicker th,
.datepicker td {
  text-align:center; }
.datepicker th:hover,
.datepicker td:hover {
  background:#eee; cursor:pointer;
  }
.datepicker td span.active:hover,
.datepicker td span.active:hover:hover,
.datepicker td span.active.disabled:hover,
.datepicker td span.active.disabled:hover:hover,
.datepicker td span.active:active,
.datepicker td span.active:hover:active,
.datepicker td span.active.disabled:active,
.datepicker td span.active.disabled:hover:active,
.datepicker td span.active.active,
.datepicker td span.active:hover.active,
.datepicker td span.active.disabled.active,
.datepicker td span.active.disabled:hover.active,
.datepicker td span.active.disabled,
.datepicker td span.active:hover.disabled,
.datepicker td span.active.disabled.disabled,
.datepicker td span.active.disabled:hover.disabled,
.datepicker td span.active[disabled],
.datepicker td span.active:hover[disabled],
.datepicker td span.active.disabled[disabled],
.datepicker td span.active.disabled:hover[disabled],
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active.disabled:hover,
.datepicker td.active.disabled:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.disabled:active,
.datepicker td.active.disabled:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled.active,
.datepicker td.active.disabled:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active.disabled.disabled,
.datepicker td.active.disabled:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled],
.datepicker td.active.disabled[disabled],
.datepicker td.active.disabled:hover[disabled] {
  background:#2f82e0;
  color:#fff;
  }
.daterangepicker .calendar-date,
.daterangepicker .ranges li,
.daterangepicker td,
.daterangepicker th,
.datepicker td span,
.datepicker td,
.datepicker th {
  -webkit-border-radius:0;
  border-radius:0;
  }


/* Vertical Tabs */
.tabbable.tabs-left {
  display:table;
  width:100%;
  background:#fff;
  }
.tabbable.tabs-left > .nav-tabs {
  display:table-cell;
  vertical-align:top;
  font-size:14px;
  }
.tabbable.tabs-left > .nav-tabs:before { content:""; }
.tabbable.tabs-left > .nav-tabs > li {
  width:142px;
  margin-left:-1px;
  }
.tabbable.tabs-left > .nav-tabs > li > a {
  padding:6px 15px;
  border-radius:0;
  -webkit-border-radius:0;
  margin-right:-1px;
  }
.tabbable.tabs-left > .nav-tabs > li > img { display:block; margin:15px auto; }
.tabbable.tabs-left > .nav-tabs > li > a > [class^='icon-'] {
  margin-left:5px;
  color:#888;
  }
.tabbable.tabs-left > .nav-tabs > li.active > a {
  border-left:none;
  }
.tabbable.tabs-left > .nav-tabs > li:first-child > a {
  border-top:none;
  }
.tabbable.tabs-left .tab-content {
  display:table-cell;
  width:100%;
  vertical-align:top;
  }
.tabbable.tabs-left > .tab-content > .tab-pane {
  padding:0;
  }
.tabbable.tabs-left > .tab-content > .tab-pane > .well  {
  border-radius:0;
  border-width:1px 0;
  }
.tabbable.tabs-left > .tab-content > .tab-pane > .well:first-of-type {
  border-top:none;
  }
.tabbable.tabs-left > .tab-content > .tab-pane .f-section {
  padding:20px;
  }
.tabbable.tabs-left .tab-content + .tab-content .tab-pane {
  padding:5px 0;
  }


/* Horizontal Tabs */
.f-admin-main > .f-horiz-nav-tabs { margin-top:-20px; }
.f-horiz-nav-tabs { background:#f6f6f6; }
.f-horiz-nav-tabs > li { margin-bottom:0; }
.f-horiz-nav-tabs > li.active { margin-bottom:-1px; }
.f-horiz-nav-tabs > li > a {
  border:none;
  border-radius:0;
  margin-right:0;
  padding:7px 15px;
  font-size:14px;
  font-weight:bold;
  color:#90939c;
  }
.f-horiz-nav-tabs > li > a:hover,
.f-horiz-nav-tabs > li > a:focus {
  background:#eee;
  color:#606269;
  }
.f-horiz-nav-tabs > li.active > a,
.f-horiz-nav-tabs > li.active > a:hover,
.f-horiz-nav-tabs > li.active > a:focus {
  border-width:0 1px;
  border-bottom:1px solid #fff;
  }
.f-horiz-nav-tabs > li:first-of-type > a,
.f-horiz-nav-tabs > li:first-of-type > a:hover,
.f-horiz-nav-tabs > li:first-of-type > a:active,
.f-horiz-nav-tabs > li:first-of-type > a:focus {
  border-left:none;
  }
.f-horiz-nav-tabs .dropdown-menu > .active > a {
  background:#DDD;
  color:#000;
  }
.f-horiz-nav-tabs .dropdown-menu > .active > a:hover,
.f-horiz-nav-tabs .dropdown-menu > .active > a:focus  {
  background:#748ddd;
  color:#FFF;
}
.f-horiz-nav-tabs .dropdown-menu .active a:after {
  display:inline-block;
  background:#748ddd;
  border-radius:15px;
  width:10px;
  height:10px;
  left:-6px;
  }
.f-tree-layout .f-admin-main .f-horiz-nav-tabs {
  margin-top:-20px;
  }
/*.f-admin-main > .f-horiz-nav-tabs:first-child {
  margin-top:-20px;
  }
.f-admin-main > .f-horiz-nav-tabs + .tab-content {
  padding:0 15px;
  }*/


/* Icons */
/* Icons:Stacked and layered icon */
.icon-stack {
  position:relative;
  display:inline-block;
  width:2em;
  height:2em;
  line-height:2em;
  vertical-align:-35%;
  }
.icon-stack [class^="icon-"],
.icon-stack [class*=" icon-"] {
  display:block;
  text-align:center;
  position:absolute;
  width:100%;
  height:100%;
  font-size:1em;
  line-height:inherit;
  *line-height:2em;
  }
.icon-stack .icon-stack-base {
  font-size:2em;
  *line-height:1em;
  }
.icon-spin { /* Animated rotating icon */
  display:inline-block;
  -moz-animation:spin 2s infinite linear;
  -o-animation:spin 2s infinite linear;
  -webkit-animation:spin 2s infinite linear;
  animation:spin 2s infinite linear;
  }
a .icon-stack,
a .icon-spin {
  display:inline-block;
  text-decoration:none;
  }
.icon-rotate-90:before {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
.icon-rotate-180:before {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }
.icon-rotate-270:before {
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  transform:rotate(270deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
.icon-flip-horizontal:before {
  -webkit-transform:scale(-1, 1);
  -moz-transform:scale(-1, 1);
  -ms-transform:scale(-1, 1);
  -o-transform:scale(-1, 1);
  transform:scale(-1, 1);
  }
.icon-flip-vertical:before {
  -webkit-transform:scale(1, -1);
  -moz-transform:scale(1, -1);
  -ms-transform:scale(1, -1);
  -o-transform:scale(1, -1);
  transform:scale(1, -1);
  }
/* Icons:Ensure rotation occurs inside anchor tags */
a .icon-rotate-90:before,
a .icon-rotate-180:before,
a .icon-rotate-270:before,
a .icon-flip-horizontal:before,
a .icon-flip-vertical:before {
  display:inline-block;
  }
h1 [class^="icon-"] { color:#aaa; }


/* Icon Animations */
@-moz-keyframes spin {
  0% {
  -moz-transform:rotate(0deg);
  }
  100% {
  -moz-transform:rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
  -webkit-transform:rotate(0deg);
  }
  100% {
  -webkit-transform:rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
  -o-transform:rotate(0deg);
  }
  100% {
  -o-transform:rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
  -ms-transform:rotate(0deg);
  }
  100% {
  -ms-transform:rotate(359deg);
  }
}
@keyframes spin {
  0% {
  transform:rotate(0deg);
  }
  100% {
  transform:rotate(359deg);
  }
}


/* Switch */
.has-switch { border-radius:4px; border-color:rgba(0, 0, 0, 0.2); }
.has-switch span.switch-left { border-radius:3px 0 0 3px; }
.has-switch span.switch-right { border-radius:0 3px 3px 0; }
.has-switch label { border-color:rgba(0, 0, 0, 0.2); }
.switch-off label { border-radius:3px 0 0 3px; border-left:0; }
.switch-on label { border-radius:0 3px 3px 0; border-right:0; }

/* Form */
.f-fieldset-group {
  padding:0 18px;
  margin-bottom:30px;
  }
.f-fieldset-group-title {
  margin-top:15px;
  margin-bottom:15px;
  font-weight:bold;
  font-size:15px;
  color:#666;
  }
.f-sidebar-view .f-fieldset-group {
  padding-right:0;
  padding-left:0;
  }


/* To Do */
.todo-list .new-todo {
  margin-bottom:0;
  width:100%;
  position:relative;
  overflow:hidden;
  *zoom:1;
  }
.todo-list .new-todo input[type="text"] {
  border-left:0;
  border-top:0;
  padding-left:12px;
  padding-top:12px;
  padding-bottom:12px;
  height:45px;
  line-height:45px;
  }
.todo-list .new-todo input {
  margin-bottom:0;
  padding-right:40px;
  }
.todo-list .new-todo button {
  position:absolute;
  top:0;
  right:0;
  height:45px;
  }
.todo-list .date {
  text-transform:uppercase;
  color:#6983d6;
  font-size:11px;
  margin-top:10px;
  margin-left:10px;
  }
.todo-list ul {
  margin-bottom:20px;
  }
.todo-list ul > li {
  line-height:35px;
  padding:0 7px 0 10px;
  border-bottom:1px solid #ddd;
  position:relative;
  overflow:hidden;
  *zoom:1;
  }
.todo-list ul > li label {
  padding:5px 0;
  font-weight:normal;
  margin:0;
  }
.todo-list ul > li label .todo {
  padding-left:5px;
  display:inline;
  position:relative;
  top:3px;
  }
.todo-list ul > li label input[type="checkbox"] {
  margin-top:0;
  }
.todo-list ul > li .actions {
  margin-top:2px;
  }
.todo-list ul > li .actions .remove, .todo-list ul > li .actions .edit {
  display:none;
  }
.todo-list ul > li .actions .btn-link {
  padding:10px 5px;
  }
.todo-list ul > li .actions .btn-link:hover {
  text-decoration:none;
  }
.todo-list ul > li .actions .important {
  color:#00acec;
  }
.todo-list ul > li .actions .important i:before {
  content:"\f097";
  }
.todo-list ul > li .actions .important:hover {
  color:#0087b9;
  }
.todo-list ul > li .actions .edit {
  color:#f8a326;
  }
.todo-list ul > li .actions .edit:hover {
  color:#e48a07;
  }
.todo-list ul > li .actions .remove {
  color:#6983d6;
  }
.todo-list ul > li .actions .remove:hover {
  color:#f01611;
  }
.todo-list ul > li.important {
  border-left:2px solid #00acec;
  padding-left:15px;
  background:#f7f7f7;
  }
.todo-list ul > li.important .important i:before {
  content:"\f02e";
  }
.todo-list ul > li.done {
  opacity:0.5;
  }
.todo-list ul > li.done .todo {
  text-decoration:line-through;
  }
.todo-list ul > li:hover {
  cursor:move;
  }
.todo-list ul > li:hover .remove, .todo-list ul > li:hover .edit {
  display:inline;
  }
.todo-list ul:last-child {
  margin-bottom:0;
  }
.todo-list ul:last-child li:last-child {
  border-bottom:none;
  }
.touch .todo-list ul > li .actions .remove, .touch .todo-list ul > li .actions .edit {
  display:inline;
  }


/* Recent Activity */
.recent-activity .load-more > a {
  border-left:none;
  border-right:none;
  border-bottom:none;
  }
.recent-activity ul {
  margin-bottom:0;
  }
.recent-activity .users > li {
  border-bottom:1px solid #ddd;
  padding:10px;
  overflow:hidden;
  *zoom:1;
  }
.recent-activity .users > li .avatar {
  margin-right:10px;
  width:23px;
  height:23px; }
.recent-activity .users > li .avatar .icon-user {
  font-size:20px;
  position:relative;
  top:2px;
  color:#d0d0d0;
  width:23px;
  height:23px;
  }
.recent-activity .users > li .date, .recent-activity .users > li .action {
  padding-top:2px;
  }
.recent-activity .users > li:last-child {
  border-bottom:none;
  }
.recent-activity .comments > li {
  border-bottom:1px solid #ddd;
  padding:10px;
  position:relative;
  overflow:hidden;
  *zoom:1;
  }
.recent-activity .comments > li .avatar {
  position:absolute;
  left:10px;
  top:10px;
  margin-right:10px;
  width:23px;
  height:23px;
  }
.recent-activity .comments > li .avatar .icon-user {
  font-size:20px;
  position:relative;
  top:2px;
  color:#d0d0d0;
  width:23px;
  height:23px;
  }
.recent-activity .comments > li .body {
  margin-left:33px;
  }
.recent-activity .comments > li .body .actions {
  position:absolute;
  right:10px;
  top:2px;
  display:none;
  }
.recent-activity .comments > li .body .actions .btn-link {
  padding-left:2px;
  padding-right:2px; }
.recent-activity .comments > li .body .actions .btn-link:hover {
  text-decoration:none;
  }
.recent-activity .comments > li .body .actions .ok {
  color:#49bf67;
  margin-right:10px;
  }
.recent-activity .comments > li .body .actions .ok:hover {
  color:#379e51;
  }
.recent-activity .comments > li .body .actions .remove {
  color:#6983d6;
  }
.recent-activity .comments > li .body .actions .remove:hover {
  color:#f01611;
  }
.recent-activity .comments > li:hover .actions {
  display:block;
  }
.recent-activity .comments > li:last-child {
  border-bottom:none;
  }
.touch .recent-activity .comments > li .actions {
  display:block;
  }


/* jQuery UI */
.ui-resizable-handle {
  position:static;
  float:right;
  margin:-25px -15px -30px 0;
  width:15px;
  min-height:50px;
  height:100%;
  z-index:99;
  }
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-image:none !important;
  background-color:#ddd;
  }
.ui-slider {
  border:1px solid #ddd;
  background-color:transparent;
  }
.ui-slider .ui-slider-range {
  background-color:#3c3c3c;
  }


/* ==========================================================================
PER PAGE
========================================================================== */

.f-install-modules { border:1px solid #ddd; margin-top:-21px; margin-bottom:15px; }
.f-install-modules tbody tr td { vertical-align:middle; border-color:#ddd !important; font-size:14px; }
.f-install-modules tbody tr td:first-of-type { padding-left:15px; }
.f-install-modules .f-skip td { background: #f0f0f0; }
.f-install-modules .f-install td { background: #FFF; }
.f-install-modules .f-install .f-module-name { font-weight: bold; }
.f-install-modules-version option { background: #FFF; }
.f-install-modules-version option[data-action=skip] { background: #DDD; }
.f-install-modules-version option[data-action=install] { background: #FFF; }
.f-install-modules + .btns-container { padding:0 15px; }



/* ==========================================================================
THEME
========================================================================== */

/*------------------*\
BOOTSTRAP
*-------------------*/

/* Tables */
.table thead > tr > th {
  color:#555;
  }
.table caption {
  color:#999;
  }
.table th,
.table td,
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  border-color:#eee;
  }
.table-striped > tbody > tr:hover td,
.table-striped > tbody > tr:hover th {
  background:#edf0fa;
  }

/* Dropdowns */
.dropdown-menu > li > a {
  color:#444;
  }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color:#fff;
  background:#748ddd;
  }
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image:none;
  filter:none;
  }

/* Navs */

/* Forms */
.form-control {
  border-radius:3px;
  height:31px;
  padding:4px 6px;
  font-family:Arial, Helvetica, sans-serif;
  }
.form-control:focus {
  border-color:#999;
  box-shadow:none;
  -webkit-box-shadow:none;
  }
label.error {
  color:#ca0000;
  }

/* Buttons */
.btn {
  background:#eee;
  color:#555;
  }
.btn-default {
  background:#eee;
  }
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background:#e4e4e4;
  }
.btn-primary {
  background:#748ddd;
  color:#fff;
  }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background:#6680d3;
  }
.btn-info {
  background:#40aff4;
  color:#fff;
  }
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background:#2ba4ef;
  }
.btn-link {
  background:none;
  color:#5d76c7;
  }
.btn-danger {
  background:#d2322d;
  color:#fff;
  }
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background:#f0dad7;
  }
.btn-success {
  background:#47a447;
  color:#fff;
  }
.btn-warning {
  background:#bbb;
  color:#fff;
  }
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  background: #b4b4b4;
  }


/* Breadcrumbs */
.breadcrumb {
  background:#f9f9f9;
  }
.breadcrumb .separator {
  color:#ccc;
  }
.breadcrumb li,
.breadcrumb a {
  color:#777;
  }
.breadcrumb li:first-child > a:hover {
  color:#6983d6;
  }


/* Pagination */


/* Accordion */
.accordion .panel-heading {
  background:#f5f5f5;
  }
.accordion .panel-heading .accordion-toggle {
  color:#444;
  }
.accordion .panel-body .f-horiz-nav-tabs {
  margin:-15px -15px 0 -15px;
  }
.f-admin-main > .accordion:first-of-type {
  margin-top:-21px;
  }
.f-admin-main > .accordion:first-of-type .panel {
  border-radius:0;
  }
.f-admin-main > .accordion:first-of-type .panel + .panel {
  margin-top:-1px;
  }

/* Labels */


/* Badges */


/* Page Header */


/* Thumbnails */


/* Alerts */
.alert-info {
  color:#555;
  background:#f5f5f5;
  }


/* Progress Bars */


/* List group */


/* Panels */


/* Wells */


/* Modal */
.modal-content .modal-header {
  background:#464d54;
  color:#fff;
  }
.modal-content .modal-header .close,
.modal-content .modal-header .close:active,
.modal-content .modal-header .close:focus,
.modal-content .modal-header .close:hover {
  color:#fff;
  }
.modal-content .modal-footer {
  background:#f9f9f9;
  }


/* ==========================================================================
HELPERS
========================================================================== */

/*------------------*\
BOOTSTRAP
*-------------------*/
.lead {
  font-size:18px;
  font-weight:500;
  line-height:1.25;
  }
.well {
  border-color:#e6e6e6;
  background:#f5f5f5;
  box-shadow:none;
  -webkit-box-shadow:none;
  font-size:18px;
  }


/*------------------*\
FULLERON
*-------------------*/
.f-base-font {
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }


/* ==========================================================================
MEDIA QUERIES
========================================================================== */

@media screen and (-webkit-min-device-pixel-ratio:0) {
 .f-admin-page-header .navbar .user-menu .dropdown-toggle span {
    position:relative;
    top:-2px;
  }
}

@media (max-width:767px) {
 .page-header .f-page-title,
 .page-header > .pull-right,
 .page-header > .pull-left {
    float:none !important;
    }
 .f-admin-nav-bg {
    width:0;
    }
 .f-admin-nav {
    width:0;
    overflow:hidden;
    }
 .main-nav-opened .f-admin-nav .navigation .search {
    display:block;
    }
 .main-nav-closed .f-admin-nav-bg {
    width:0;
    }
 .main-nav-closed .f-admin-nav {
    width:0;
    overflow:hidden;
    }
 .main-nav-closed .f-admin-main-view {
    margin-left:0;
    }
 .f-admin-main-view {
    margin-left:0;
    }
 .f-grid-wrapper .f-grid-top,
 .f-grid-wrapper .f-grid-bottom {
    text-align:center;
    }
 .f-grid-wrapper .f-grid-top .f-grid-filter,
 .f-grid-wrapper .f-grid-bottom .f-grid-filter {
    float:none;
    text-align:center;
    }
 .f-grid-wrapper .f-grid-top .f-grid-filter label,
 .f-grid-wrapper .f-grid-bottom .f-grid-filter label {
    float:none;
    }
 .f-grid-wrapper .f-grid-top .f-grid-paginate,
 .f-grid-wrapper .f-grid-bottom .f-grid-paginate {
    text-align:center;
    float:none;
    margin-left:0;
    margin-right:0;
    }
 .f-grid-wrapper .f-grid-top .f-grid-length,
 .f-grid-wrapper .f-grid-bottom .f-grid-length {
    text-align:center;
    display:inline-block;
    float:none;
    }
 .form-actions.form-actions-padding-xs {
    padding:20px;
    }

} /* ENDS @media max-width:767px */


@media (max-width:768px) {
  h1 { font-size:24.5px; }
  h2 { font-size:21px; }
  h3 { font-size:17.5px; }
  h4 { font-size:14px; }
  h5 { font-size:14px; }
  h6 { font-size:7px; }
} /* ENDS @media max-width:768px */


@media (min-width:768px) {
 .img-responsive-sm {
    display:block;
    height:auto;
    max-width:100%;
  }
 .page-header > .f-page-title {
    float:left;
    }
 .page-header > .btn-group {
    float:right;
    }
  body.login .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-280px 0 0 -225px;
    width:450px;
    }
  body.error .error-container-header {
    padding:10px 0 40px 0;
    }
 .f-admin-footer .buttons {
    text-align:right;
    }
 .f-admin-footer .text {
    text-align:left;
    padding-top:7px;
    margin-bottom:0;
    }
 .f-admin-page-header .navbar .user-menu .dropdown-toggle .user-name {
    display:inline;
    font-size:13px;
    font-weight:bold;
    }
 .f-admin-page-header .navbar .navbar-brand .logo-xs {
    display:none;
    }
 .f-admin-page-header .navbar .navbar-brand .logo {
    display:inline-block;
    }
} /* ENDS @media min-width:768px */


@media screen and (max-width:768px) {
  body.login .login-container {
    padding:0 15px;
    }
 .invoice .invoice-header .invoice-title {
    float:none;
    text-align:center;
    margin-bottom:20px;
    }
}


@media screen and (max-width:768px) {
 .invoice .invoice-header .invoice-number {
    float:none;
    text-align:center;
    }
}


@media (min-width:768px) and (max-width:991px) {
 .form-actions.form-actions-padding-sm {
    padding:20px;
    }
}


@media (max-width:991px) {
 .f-admin-nav-bg {
    width:46px;
    }
 .f-admin-nav {
    width:45px;
    }
 .main-nav-opened .f-admin-nav .navigation > .nav > li ul.in {
    display:block !important;
    }
 .f-admin-nav .navigation > .nav > li .nav.in {
    display:none !important;
    }
 .f-admin-nav .navigation > .nav > li span,
 .f-admin-nav .navigation > .nav > li i.angle-down {
    display:none !important;
    }
 .f-admin-nav-bg {
    width:35px;
    }
 .f-admin-nav {
    width:35px;
    }
 .main-nav-opened .f-admin-nav .navigation > .nav > li ul.in {
    display:block !important;
    }
  #wrapper {
    overflow:hidden;
    }
 .f-admin-main-view {
    margin-left:35px;
    }
} /* ENDS @media max-width:991px */


@media (min-width:992px) {
 .main-nav-closed .f-admin-nav {
    width:35px;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > .nav {
    display:block !important;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li.active:hover > a > span {
    background:#748ddd;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > a > span {
    display:block;
    position:absolute;
    top:0;
    left:35px;
    width:170px;
    padding:0 10px;
    height:35px;
    line-height:35px;
    background-color:#383f45;
    z-index:1000;
    border:none;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > a > .angle-down {
    display:none;
    }
  /* Level 2 */
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul {
    display:block !important;
    position:absolute;
    z-index:1000;
    height:auto;
    overflow:visible;
    top:35px;
    left:35px;
    width:170px;
    background-color:#464d54;
    border:none;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul.in {
    border-bottom:1px solid white;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul li:first-of-type {
    margin-top:5px;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul li:last-of-type {
    margin-bottom:10px;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul li { position:relative; }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul li a {
    padding:5px 10px;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul li a span {
    display:inline;
    }
  /* Level 3 */
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul ul {
    display:none;
    position:absolute;
    z-index:1000;
    height:auto;
    overflow:visible;
    top:0;
    left:170px;
    width:170px;
    background-color:#464d54;
    border:none;
    }
 .main-nav-closed .f-admin-nav .navigation > .nav > li:hover > ul li:hover ul {
    display:block !important;
    }
 .f-admin-nav .navigation > .nav > li .nav.in {
    display:block;
    padding-bottom:5px;
    background:#464d54;
    }
} /* ENDS @media min-width:992px */


@media (min-width:992px) and (max-width:1199px) {
 .form-actions.form-actions-padding-md {
    padding:20px;
    }
}

@media (min-width:1200px) {
 .form-actions.form-actions-padding-lg {
    padding:20px;
    }
}

@media print {
 .f-admin-page-header,
 .f-admin-nav-bg,
 .f-admin-nav {
    display:none;
    }
 .accordion .collapse,
 .accordion .panel-collapse .collapse,
 .accordion .panel-collapse.collapse,
 .accordion .accordion-group .accordion-body.collapse {
    display:block !important;
    height:auto !important;
    }
 .tab-content > .tab-pane {
    display:block !important;
    opacity:1 !important;
    }
 .fuelux .step-content .step-pane {
    display:block !important;
    opacity:1 !important;
    }
 .pricing-tables .pricing-table.not-important {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1;
    }
  #orders #list {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity:1;
    }
}  /* ENDS @media print */






/*body.error {
  width:100%;
  height:100%;
  position:relative; }
body.error .middle-container {
  overflow:visible;
  display:table;
  position:static;
  width:100%;
  height:100%;
  }
body.error .middle-container .middle-row {
  display:table-cell;
  vertical-align:middle;
  width:100%;
  position:static;
  }
body.error .middle-container .middle-row .middle-wrapper {
  position:static;
  }
body.error .error-container-header {
  font-size:100px;
  color:white;
  padding:30px 0 40px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
body.error .error-container {
  background-color:white;
  position:relative;
  padding:40px 0;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
  }
body.error .error-container:before {
  content:"";
  position:absolute;
  margin-left:-10px;
  left:50%;
  top:-10px;
  border-bottom:10px solid white;
  border-top:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  }
body.error .error-container .title {
  margin:0;
  margin-bottom:20px;
  }
body.error .error-container .with-icon-over-input {
  position:relative;
  }
body.error .error-container .with-icon-over-input [class^="icon-"] {
  position:absolute;
  right:10px;
  top:9px;
  }
body.error .error-container .with-icon-over-input input[type="text"] {
    padding-right:28px;
    }
body.error .error-container-footer {
  padding:40px 0;
  }
body.error .error-container-footer a {
  color:white;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
  }

.faq .nav-tabs,
.faq .nav-pills {
  margin-bottom:-1px;
  }
.faq .tabdrop a {
  margin-right:0;
  }
.faq .panel-default > .panel-heading {
  background:white;
  }
.faq .panel-group {
  background:white;
  }
.faq .tab-content {
  background:white;
  padding:19px;
  border:1px solid #ddd;
  }
.slider-content ul ul li a:hover {
  background:#f4f4f4;
  }
.slider-content .title {
  background:#ddd;
  color:#3c3c3c;
  }
.slider .slider-nav {
  background:#ddd;
  }
.slider .slider-nav li a {
  color:#3c3c3c;
  }
.slider .slide-up, .slider .slide-down {
  background:#ddd;
  }
.fc-header-right .icon-chevron-right,
.fc-header-right .icon-chevron-left {
  position:relative;
  top:1px;
  }
.fc-header-center .fc-button {
  padding-top:5px !important;
  }
.fc-header-center .fc-state-default,
.fc-header-center .fc-button {
  background:none;
  border:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  }
.fc-event {
  border:none;
  }
.fc-event .fc-event-inner {
  padding:2px -2px 2px 2px;
  color:#fff;
  }

*/

/*------------------------------------*\
   CLEARS
\*------------------------------------*/
.f-admin-page-header:before,
.f-admin-page-header:after {
  content:" ";
  display:table;
  }
.f-admin-page-header:after {
  clear:both;
  }
.date-range-plugin .dropdown-menu .btn.update {
    padding:8px 10px;
}
.date-range-plugin .form-control {
    border-radius: 0px;
}
.date-range-plugin .dropdown-menu .dropdown-toggle {
    box-shadow: none;
    border: 1px solid #ddd;
    border-right: 0px !important;
    border-bottom-color: #ccc;
    padding: 7px 9px;
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom, #f8f8f8 0%,#f2f2f2 100%);
}
.date-range-plugin .filter-box {
    right: 0px;
    left: auto;
}
.f-admin-page-header .date-range-plugin.open .btn-default  {
    border: 1px solid rgba(0,0,0,.110);
}
.date-range-plugin .choice-close {
    color: #bbb;
    font-size: 13px;
    position: absolute;
    z-index: 10;
    left: 8px;
    top: 8px;
    cursor: pointer
}
.date-range-plugin .dropdown-toggle {
    padding-left: 30px;
}
.date-range-plugin .filter {
    background: #eaedf6;
}
.list-variant-image label {
    width: 140px !important;
    height: auto !important;
    margin-left: 35px;
    position: relative;
}
.list-variant-image div {
    padding-left: 5px;
    min-height: 35px;
}
.list-variant-image li {
    width: 214px !important;
}
.list-variant-image img {
    position: absolute;
}
.btn-filter-date.active-button {
    background-color: #e4e4e4;
}

/* griddle component */
.pagination-griddle {
    margin-top: 0;
    margin-bottom: 0;
}
.buttondropdown-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 990;
}
.grid-pager .f-grid-pagination {
    margin-left: 5px;
}
.grid-settings .dd {
    display: inline;
    margin-right: 15px;
}
.grid-settings .grid-mass-edit {
    margin-right: 5px;
}

.fcom-htmlgrid .scrollable-area {
    margin-top: -1px;
}
