{% set c = THIS.get('model') %}
{% set fieldData = { model: c, settings_module:'Sellvana_Catalog', } %}
{% set fieldValidate = fieldData|merge({  attr: 'data-rule-number="true"', input_class: 'input-stock' }) %}
{% set prod = APP.instance('Sellvana_Catalog_Model_Product') %}
{% set backOrders = prod.backOrders() %}
{% import THIS.view('core/form-elements').twigName() as forms %}
<h2>{{ "Catalog Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-Sellvana_Catalog'}) }}
     {{ forms.accordion_panel_start({label:'Stock Management'|_, id:'settings-Sellvana_Catalog-group0', in:1}) }}
        {{ forms.boolean(fieldData, {field:'separate_inventory_sku', label:'Use Separate Inventory SKU'|_ }) }}
        {{ forms.boolean(fieldData, {field:'manage_stock', label:'Manage Stock'|_ }) }}
        {{ forms.select(fieldData, {field:'back_order', label:'Back Orders'|_, options: backOrders }) }}
        {{ forms.input(fieldValidate, {field:'maximum_quantity_shopping', label:'Maximum Quantity Allowed in Shopping'|_ }) }}
        {{ forms.input(fieldValidate, {field:'quantity_items_status', label:'Quantity for Item\'s Status to Become Out of Stock'|_}) }}
        {{ forms.input(fieldValidate, {field:'notify_administrator_quantity', label:'Notify Administrator for Quantity Below'|_ }) }}
    {{ forms.accordion_panel_end }}
    {{ forms.accordion_panel_start({label:'Web'|_, id:'settings-Sellvana_Catalog-group1'}) }}
        {{ forms.input(fieldData, {field:'url_prefix', label:'URL Prefix'|_ }) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
