<!--{ label: {{ 'Permissions'|_ }} }-->
<!--{ pos: 10 }-->

{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator') %}
{% set hlp = APP.instance('FCom_Admin_Model_Role') %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<fieldset>
  <div class="f-section">
    {{ forms.input({field:'role_name', validator:validator, required:1, label:'Role Name'|_})}}
    <div class="form-group">
        <label class="col-md-2 control-label" for="model-permissions">{{ 'Permissions'|_ }}</label>
        <div class="col-md-5">
            <div id="permissions"></div>
        </div>
    </div>
  </div>
</fieldset>


<script>
    require(['jquery', 'jstree'], function ($) {
        $(function () {
            $('#roles-form').validate();

            $('#permissions').jstree({
                plugins: ['themes', 'json_data', 'ui', 'hotkeys', 'checkbox', 'search'],
                json_data: {
                    data: {{ UTIL.toJson(m.getAllPermissionsTree())|raw }}
                },
                checkbox: {
                    override_ui: true,
                    real_checkboxes: true,
                    real_checkboxes_names: function (n)
                    {
                        return ['model[permissions][' + n.attr('path') + ']', 1]
                    }
                },
                search: { case_insensitive: true }
            }).bind('loaded.jstree', function (event, data) {
                        var checked = {{ UTIL.toJson(m.getPermissionIds())|raw }};
                        for (var id in checked) {
                            data.inst.check_node('#' + id);
                        }
            });
        })
    })
</script>
