{% set config = THIS.get('config') %}
{#{{ dump(uploadConfig) }}#}
<div class='container' id='{{ config.id }}-media-upload'>
    <div class='box-content'>
        <div class='row fileupload-buttonbar'>
            <div class='col-sm-12'>
                <span class='btn btn-success fileinput-button'>
                    <i class='icon-plus icon-white'></i>
                    <span>{{ "Add files..."|_ }}</span>
                    <input data-bfi-disabled='' multiple='' name='upload[]' type='file'>
                </span>
                <button class='btn btn-primary start' type='submit'>
                    <i class='icon-upload icon-white'></i>
                    <span>Start upload</span>
                </button>
                <button class='btn btn-warning cancel' type='reset'>
                    <i class='icon-ban-circle icon-white'></i>
                    <span>Cancel upload</span>
                </button>
            </div>
            <div class='col-sm-5 fileupload-progress fade'>
                <div aria-valuemax='100' aria-valuemin='0' class='progress progress-success progress-striped active'
                     role='progressbar'>
                    <div class='bar' style='width:0%;'></div>
                </div>
                <div class='progress-extended'></div>
            </div>
        </div>
        <div class='fileupload-loading'></div>
        <br>
        <table class='table table-striped' role='presentation'>
            <tbody class='files'></tbody>
        </table>
    </div>
    <script>
        var uploadTr = '{{ 'Upload'|_ }}';
        var errorTr = '{{ 'Error'|_ }}';
        var cancelTr = '{{ 'Cancel'|_ }}';
    </script>
    {% verbatim %}
        <script id="template-upload" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-upload fade">
                    <td class="preview"><span class="fade"></span></td>
                    <td class="name"><span>{%=file.name%}</span></td>
                    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                    {% if (file.error) { %}
                        <td class="error" colspan="2"><span class="label label-important">{%=
                            errorTr%}</span> {%=file.error%}</td>
                    {% } else if (o.files.valid && !i) { %}
                    <td>
                        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="bar" style="width:0%;"></div>
                        </div>
                    </td>
                    <td>
                        {% if (!o.options.autoUpload) { %}
                            <button class="btn btn-primary start">
                                <i class="icon-upload icon-white"></i>
                                <span>{%=uploadTr%}</span>
                            </button>
                        {% } %}
                    </td>
                    {% } else { %}
                        <td colspan="2"></td>
                    {% } %}
                    <td>
                       {% if (!i) { %}
                        <button class="btn btn-warning cancel">
                            <i class="icon-ban-circle icon-white"></i>
                            <span>{%=cancelTr%}</span>
                        </button>
                        {% } %}
                    </td>
                </tr>
            {% } %}
        </script>
        <!-- The template to display files available for download -->

        <script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-download fade">
                   {% if (file.error) { %}
                        <td></td>
                        <td class="name"><span>{%=file.file_name%}</span></td>
                        <td class="size"><span>{%=o.formatFileSize(file.file_size)%}</span></td>
                        <td class="error" colspan="2"><span class="label label-important">{%=
                              errorTr%}</span> {%=file.error%}</td>
                    {% } else { %}
                        <td class="preview">
                        {% if (file.thumbnail_url) { %}
                            <a href="{%=file.url%}" title="{%=
                              file.file_name%}" data-gallery="gallery" download="{%=file.file_name%}">
                                <img src="{%=file.thumbnail_url%}">
                            </a>
                        {% } %}
                        </td>
                        <td class="name">
                            <a href="{%=file.url%}" title="{%=file.file_name%}" data-gallery="{%=
                              file.thumbnail_url&&'gallery'%}" download="{%=file.file_name%}">
                                {%=file.file_name%}
                            </a>
                        </td>
                        <td class="size"><span>{%=o.formatFileSize(file.file_size)%}</span></td>
                        <td colspan="3"></td>
                    {% } %}
                </tr>
            {% } %}
        </script>
    {% endverbatim %}

    <script type="text/javascript">
        require(['tmpl', 'load-image', 'canvas-to-blob', 'iframe-transport', 'jquery.fileupload', 'jquery.fileupload-fp', 'jquery.fileupload-ui'], function () {
            var uploadUrl = '{{ APP.href("media/upload/upload?folder=") | raw }}{{config.folder ? config.folder : "" }}';
            $('#{{config.id}}-media-upload').fileupload({
                url: uploadUrl,
                multiple: {{ config.multiple ? 'true': 'false' }}
                {% if config.filetype_regex %}
                    ,acceptFileTypes: /(\.|\/)({{ config.filetype_regex }})$/i
                {% endif %}
            });
        });
    </script>
</div>
