{% set c = THIS.get('model') %}
{% set fieldData = { model: c, settings_module: 'Sellvana_ShippingFree' } %}
{% import THIS.view('core/form-elements').twigName() as forms %}
<h2>{{ "Free shipping settings" | _}}</h2>
{{ forms.accordion_start({id:'settings-Sellvana_ShippingFree'}) }}
     {{ forms.accordion_panel_start({label:'Free shipping'|_, id:'settings-Sellvana_ShippingFree-group0', in:1}) }}
        {{ forms.boolean(fieldData, {field:'active', label:'Enabled'|_ }) }}
     {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}
